body {
    color: #C4D67B;
    background-color: #4A602F;
}

ul {
    display: flexbox;
    text-indent: 25px;
    line-height: 70px;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 23px;
}

a {
  color: #C4D67B;
  text-decoration: none;
}

header img {
    justify-content: flex-end;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid #C4D67B;
}

.nome {
    position: absolute;
    left: 720px;
    top: 65px;
    font-size: 45px;
}

.formacao {
    position: absolute;
    left: 600px;
    top: 145px;
    font-size: 35px

}

h3 {
text-decoration: underline;
}

footer img {
    width: 45px;
    height: 45px;
    padding-top: 50px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #000000;
}